<header>
    <div id="brand">
        Developer Funnel
        <button [routerLink]="['/']" class="btn btn-info">Home</button>
    </div>
    <div id="social" *ngIf='token == ""'>
        <a [routerLink]="['/login']" class="btn btn-primary">
           <span class="glyphicon glyphivon-log-in"></span> Login
        </a> &nbsp;&nbsp;
        <a [routerLink]="['/register']" class="btn btn-success">
            <span class="glyphicon glyphivon-user"></span> Register
        </a>
    </div>

    <div id="social" *ngIf='token !== ""'>
        <a [routerLink]="['/login']" class="btn btn-warning">
            <span class="glyphicon glyphivon-info"></span> 
            Hi {{userInfo.name}}
        </a> &nbsp;&nbsp;
        <a class="btn btn-danger" (click)="logoutUser()">
         <span class="glyphicon glyphivon-log-out"></span> Logout
     </a>
    </div>
</header>